# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Docker
postgres_data/
uploads_data/
.env

# Build outputs
frontend/dist/
backend/dist/

# OS/IDEs
.DS_Store
.vscode/
.idea/

# Backend uploads
backend/uploads/
uploads/
